<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/lecturer-quiz.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kurale&display=swap" rel="stylesheet">
</head>
<body>
    
    <nav class="navbar">
        <!-- LEWA STRONA -->
        <div class="nav-section left">
            <a href="#" id="button-exit-edit" class="nav-button" role="button">
                <img class="icon" src="/img/icons/undo.png" alt="">
                <span>Zakończ edycję</span> 
            </a>
        </div>

        <!-- ŚRODEK -->
        <div class="nav-logo">QUIZ PŁ</div>

        <!-- PRAWA STRONA -->
        <div id="user" class="nav-section right"> <!--show-logout-->
            <div class="nav-button" role="button">
                <div>
                    <span class="logged-as">Zalogowano jako:</span><br/>
                    <% if(userInfo.isLecturer === 1){ %>
                        <span class="logged-user"><%= userInfo.title + " " + userInfo.firstName + " " + userInfo.lastName %></span>
                    <% }else{ %>
                        <span class="logged-user"><%= userInfo.firstName + " " + userInfo.lastName %> (<%= userInfo.login %>)</span>
                    <% } %>
                </div>
                <img class="profile-img" src="/img/profile-image/<%= userInfo.imgName%>">
            </div>

            <div class="logout-popup">
                <form action="/logout" method="GET">
                    <span>Czy chcesz się wylogować?</span>
                    <button type="submit" class="button-confirm">TAK</button>
                </form>
            </div>
        </div>
    </nav>

    <main>
        <section class="class-info">
            <h2><%= classInfo.className %></h2>
            <span><%= classInfo.description %></span>
        </section>
        <form id="users-form" action="/quiz-edit/<%= quizInfo.id %>" method="POST">
            <fieldset class="quiz-info add-margin-top">
                <legend>Tytuł quizu</legend>
                <textarea required class="quiz-title quiz-element automatic-row-size" name="title" rows="1" placeholder="<%= quizInfo.title %>" autocomplete="off" maxlength="100"><%= quizInfo.title %></textarea>
            </fieldset>
            <fieldset class="quiz-info add-margin-bottom">
                <legend>Poziom trudności</legend>
                <div class="difficulty">
                    <input autocomplete="off" type="radio" id="difficulty-easy" class="difficulty-radio" name="difficulty" value="easy"<%= (quizInfo.difficulty === "easy") ? " checked" : "" %>>
                    <label for="difficulty-easy" class="label-diff easy">Łatwy</label>

                    <input autocomplete="off" type="radio" id="difficulty-medium" class="difficulty-radio" name="difficulty" value="medium"<%= (quizInfo.difficulty === "medium") ? " checked" : "" %>>
                    <label for="difficulty-medium" class="label-diff medium">Średni</label>

                    <input autocomplete="off" type="radio" id="difficulty-hard" class="difficulty-radio" name="difficulty" value="hard"<%= (quizInfo.difficulty === "hard") ? " checked" : "" %>>
                    <label for="difficulty-hard" class="label-diff hard">Trudny</label>
                </div>
            </fieldset>
            <button class="question-new quiz-info" type="button">― Dodaj kolejne pytanie ―</button>
            <% let numerOfQuestion = 0; %>
            <% for(let question of allQuestions){ numerOfQuestion++; %>
            <fieldset class="question quiz-info">
                <legend>Pytanie nr <span class="question-nr"><%= numerOfQuestion %></span></legend>
                <section class="question-info">
                    <textarea required class="question-title quiz-title quiz-element automatic-row-size" rows="1" name="questions[<%= numerOfQuestion-1 %>][question]" placeholder="<%= question.question %>" autocomplete="off" maxlength="500"><%= question.question %></textarea>
                    <section class="answers">
                        <fieldset class="quiz-answer answer-a wrong-answer">
                            <legend class="legend-right">Poprawna odpowiedź</legend>
                            <legend class="legend-wrong">Zła odpowiedź</legend>
                            <textarea required class="quiz-answer-abcd quiz-element automatic-row-size" rows="1" name="questions[<%= numerOfQuestion-1 %>][a]" placeholder="<%= question.answerA %>" autocomplete="off" maxlength="200"><%= question.answerA %></textarea>
                        </fieldset>
                        <fieldset class="quiz-answer answer-b wrong-answer">
                            <legend class="legend-right">Poprawna odpowiedź</legend>
                            <legend class="legend-wrong">Zła odpowiedź</legend>
                            <textarea required class="quiz-answer-abcd quiz-element automatic-row-size" rows="1" name="questions[<%= numerOfQuestion-1 %>][b]" placeholder="<%= question.answerB %>" autocomplete="off" maxlength="200"><%= question.answerB %></textarea>
                        </fieldset>
                        <fieldset class="quiz-answer answer-c wrong-answer">
                            <legend class="legend-right">Poprawna odpowiedź</legend>
                            <legend class="legend-wrong">Zła odpowiedź</legend>
                            <textarea required class="quiz-answer-abcd quiz-element automatic-row-size" rows="1" name="questions[<%= numerOfQuestion-1 %>][c]" placeholder="<%= question.answerC %>" autocomplete="off" maxlength="200"><%= question.answerC %></textarea>
                        </fieldset>
                        <fieldset class="quiz-answer answer-d wrong-answer">
                            <legend class="legend-right">Poprawna odpowiedź</legend>
                            <legend class="legend-wrong">Zła odpowiedź</legend>
                            <textarea required class="quiz-answer-abcd quiz-element automatic-row-size" rows="1" name="questions[<%= numerOfQuestion-1 %>][d]" placeholder="<%= question.answerD %>" autocomplete="off" maxlength="200"><%= question.answerD %></textarea>
                        </fieldset>
                    </section>
                    <div class="select-right-answer">
                        <span>Która odpowiedź jest poprawna?</span>
                        <div class="abcd">
                            <label>
                                <input autocomplete="off" type="radio" class="right-answer-radio answer-a-right" name="questions[<%= numerOfQuestion-1 %>][correct]" value="a"<%= (question.correctAnswer == 'a') ? " checked" : "" %>>A
                            </label>
                            
                            <label>
                                <input autocomplete="off" type="radio" class="right-answer-radio answer-b-right" name="questions[<%= numerOfQuestion-1 %>][correct]" value="b"<%= (question.correctAnswer == 'b') ? " checked" : "" %>>B
                            </label>

                            <label>
                                <input autocomplete="off" type="radio" class="right-answer-radio answer-c-right" name="questions[<%= numerOfQuestion-1 %>][correct]" value="c"<%= (question.correctAnswer == 'c') ? " checked" : "" %>>C
                            </label>

                            <label>
                                <input autocomplete="off" type="radio" class="right-answer-radio answer-d-right" name="questions[<%= numerOfQuestion-1 %>][correct]" value="d"<%= (question.correctAnswer == 'd') ? " checked" : "" %>>D
                            </label>
                        </div>
                    </div>
                </section>
                <section class="question-buttons">
                    <button class="question-option move-up" type="button">
                        <img src="/img/icons/move-up.png" alt="">
                        Przesuń<br>w górę
                    </button>
                    <button class="question-option delete step-1" type="button">
                        <img src="/img/icons/delete-red.png" alt="">
                        <span>Usuń<br>pytanie</span>
                    </button>
                    <button class="question-option delete step-2 hidden" type="button">
                        <img src="/img/icons/delete-red.png" alt="">
                        <span>Potwierdź usunięcie</span>
                    </button>
                    <button class="question-option move-down" type="button">
                        Przesuń<br>w dół
                        <img src="/img/icons/move-down.png" alt="">
                    </button>
                </section>
            </fieldset>
            <button class="question-new" type="button">― Dodaj kolejne pytanie ―</button>
            <% } %>

            <section class="quiz-buttons">
                <button id="button-delete-quiz" class="delete-quiz" type="button">Usuń ten quiz</button>
                <button class="save" type="submit">Zapisz i wyjdź</button>
            </section>
            </form>

            <fieldset id="question-template" style="display: none;" class="question quiz-info">
                <legend>Pytanie nr <span class="question-nr"></span></legend>
                <section class="question-info">
                    <textarea required class="question-title quiz-title quiz-element automatic-row-size" rows="1" name="question-nr" placeholder="Treść pytania..." autocomplete="off" maxlength="500"></textarea>
                    <section class="answers">
                        <fieldset class="quiz-answer answer-a wrong-answer">
                            <legend class="legend-right">Poprawna odpowiedź</legend>
                            <legend class="legend-wrong">Zła odpowiedź</legend>
                            <textarea required class="quiz-answer-abcd quiz-element automatic-row-size" rows="1" name="answer-a-nr" placeholder="Odpowiedź A" autocomplete="off" maxlength="200"></textarea>
                        </fieldset>
                        <fieldset class="quiz-answer answer-b wrong-answer">
                            <legend class="legend-right">Poprawna odpowiedź</legend>
                            <legend class="legend-wrong">Zła odpowiedź</legend>
                            <textarea required class="quiz-answer-abcd quiz-element automatic-row-size" rows="1" name="answer-b-nr" placeholder="Odpowiedź B" autocomplete="off" maxlength="200"></textarea>
                        </fieldset>
                        <fieldset class="quiz-answer answer-c wrong-answer">
                            <legend class="legend-right">Poprawna odpowiedź</legend>
                            <legend class="legend-wrong">Zła odpowiedź</legend>
                            <textarea required class="quiz-answer-abcd quiz-element automatic-row-size" rows="1" name="answer-c-nr" placeholder="Odpowiedź C" autocomplete="off" maxlength="200"></textarea>
                        </fieldset>
                        <fieldset class="quiz-answer answer-d wrong-answer">
                            <legend class="legend-right">Poprawna odpowiedź</legend>
                            <legend class="legend-wrong">Zła odpowiedź</legend>
                            <textarea required class="quiz-answer-abcd quiz-element automatic-row-size" rows="1" name="answer-d-nr" placeholder="Odpowiedź D" autocomplete="off" maxlength="200"></textarea>
                        </fieldset>
                    </section>
                    <div class="select-right-answer">
                        <span>Która odpowiedź jest poprawna?</span>
                        <div class="abcd">
                            <label>
                                <input autocomplete="off" type="radio" class="right-answer-radio answer-a-right" name="right-answer-nr" value="a" checked>A
                            </label>
                            
                            <label>
                                <input autocomplete="off" type="radio" class="right-answer-radio answer-b-right" name="right-answer-nr" value="b">B
                            </label>

                            <label>
                                <input autocomplete="off" type="radio" class="right-answer-radio answer-c-right" name="right-answer-nr" value="c">C
                            </label>

                            <label>
                                <input autocomplete="off" type="radio" class="right-answer-radio answer-d-right" name="right-answer-nr" value="d">D
                            </label>
                        </div>
                    </div>
                </section>
                <section class="question-buttons">
                    <button class="question-option move-up" type="button">
                        <img src="/img/icons/move-up.png" alt="">
                        Przesuń<br>w górę
                    </button>
                    <button class="question-option delete step-1" type="button">
                        <img src="/img/icons/delete-red.png" alt="">
                        <span>Usuń<br>pytanie</span>
                    </button>
                    <button class="question-option delete step-2 hidden" type="button">
                        <img src="/img/icons/delete-red.png" alt="">
                        <span>Potwierdź usunięcie</span>
                    </button>
                    <button class="question-option move-down" type="button">
                        Przesuń<br>w dół
                        <img src="/img/icons/move-down.png" alt="">
                    </button>
                </section>
            </fieldset>
            <button id="question-new-template" class="question-new quiz-info" style="display: none;" type="button">― Dodaj kolejne pytanie ―</button>
    </main>

    <div id="overlay-confirm" class="overlay hidden">
        <div class="overlay-content">
            <img class="img-status" src="/img/icons/question.png" alt="">
            <h1 id="question-result">Czy na pewno chcesz wyjść?</h1>
            <h2>Utracisz niezapisane postępy!</h2>
            <a href="/lecturer/class/<%= classInfo.id %>">
                <div class="quit">
                    <img class="img-back" src="/img/icons/undo-red.png" alt="">
                    <span>Wyjdź mimo to.</span>
                </div>
            </a>
            <div id="button-continue-edit" class="back">
                <span>Kontynuuj edycję.</span>
                <img class="img-next" src="/img/icons/next.png" alt="">
            </div>
        </div>
    </div>

    <div id="overlay-delete" class="overlay hidden">
        <div class="overlay-content">
            <img class="img-status" src="/img/icons/incorrect.png" alt="">
            <h1 id="question-result">Czy na pewno chcesz usunąć ten quiz?</h1>
            <h2>Tej operacji nie da się cofnąć!</h2>
            <form action="/delete-quiz/<%= quizInfo.id %>" method="POST">
                <button type="submit" class="quit">
                    <img class="img-back" src="/img/icons/delete-red.png" alt="">
                    <span>Tak, chce usunąć ten quiz</span>
                </button>
            </form>
            <div id="button-delete-cancel" class="back">
                <img class="img-back" src="/img/icons/cancel.png" alt="">
                <span>Pozostaw ten quiz</span>
            </div>
        </div>
    </div>

    <footer></footer>

    <script src="/js/navbar.js"></script>
    <script src="/js/edit-quiz.js"></script>
</body>
</html>