<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/class.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kurale&display=swap" rel="stylesheet">

    <script src="/js/navbar.js"></script>
</head>
<body>
    
    <nav class="navbar">
        <!-- LEWA STRONA -->
        <div class="nav-section left">
            <a href='/' class="nav-button" role="button">
                <img class="icon" src="/img/icons/undo.png" alt="">
                <span>Powrót do listy quizów</span> 
            </a>
        </div>

        <!-- ŚRODEK -->
        <div class="nav-logo">QUIZ PŁ</div>

        <!-- PRAWA STRONA -->
        <div id="user" class="nav-section right"> <!--show-logout-->
            <div class="nav-button" role="button">
                <div>
                    <span class="logged-as">Zalogowano jako:</span><br/>
                    <% if(userInfo.isLecturer === 1){ %>
                        <span class="logged-user"><%= userInfo.title + " " + userInfo.firstName + " " + userInfo.lastName %></span>
                    <% }else{ %>
                        <span class="logged-user"><%= userInfo.firstName + " " + userInfo.lastName %> (<%= userInfo.login %>)</span>
                    <% } %>
                </div>
                <img class="profile-img" src="/img/profile-image/<%= userInfo.imgName%>">
            </div>

            <div class="logout-popup">
                <form action="/logout" method="GET">
                    <span>Czy chcesz się wylogować?</span>
                    <button type="submit" class="button-confirm">TAK</button>
                </form>
            </div>
        </div>
    </nav>

    <main>
        <section class="class-info">
            <h2><%= quizInfo.title %></h2>
            <span><%= (quizInfo.difficulty === 'hard') ? "Trudny" : ((quizInfo.difficulty === 'medium') ? "Średni" : "Łatwy") %> - Liczba pytań: <%= quizInfo.questionsCount %></span>
        </section>
        <h2 class="center-h2">Ranking</h2>
        <% if(ranking.length > 0){ %>
            <section class="ranking-list">
                <% for(let [index, rank] of ranking.entries()){ %>
                    <% if(index === 0){ %>
                        <div class="user-ranking first-place">
                            <img class="place-nr" src="/img/icons/award.png" alt="">
                    <% }else if(index === 1){ %>
                        <div class="user-ranking second-place">
                            <img class="place-nr" src="/img/icons/trophy.png" alt="">
                    <% }else if(index === 2){ %>
                        <div class="user-ranking third-place">
                            <img class="place-nr" src="/img/icons/medal.png" alt="">
                    <% }else{ %>
                        <div class="user-ranking other-place">
                            <span class="place-nr" ><%= index + 1 %></span>
                    <% } %>
                            <span class="place-user"><%= rank.firstName + " " + rank.lastName %> (<%= rank.login %>)</span>
                            <span class="place-questions"><%= rank.correctQuestions %> z <%= quizInfo.questionsCount %> pytań</span>
                            <% if(rank.durationSeconds < 60){ %>
                                <span class="place-time"><%= rank.durationSeconds %>s</span>
                            <% }else if(rank.durationSeconds < 600){ %>
                                <% if(rank.durationSeconds % 60 === 0){ %>
                                    <span class="place-time"><%= rank.durationSeconds / 60 %>min</span>
                                <% }else{ %>
                                    <span class="place-time"><%= Math.floor(rank.durationSeconds / 60) %>min <%= rank.durationSeconds - (60 * Math.floor(rank.durationSeconds / 60)) %>s</span>
                                <% } %>
                            <% }else{ %>
                                <span class="place-time">&gt;10min</span>
                            <% } %>
                        </div>
                <% } %>
            </section>
        <% }else{ %>
            <section class="ranking-list">
                <div class="nothing-here">Pusto... Nikt jeszcze nie grał w ten quiz.</div>
            </section>
        <% } %>
        <% if(userInfo.isLecturer === 0 && lastgames.length > 0){ %>
            <h2 class="center-h2 lastgames">Twoje ostatnie gry</h2>
            <section class="lastgames-list">
                <% for(let game of lastgames){ %>
                    <div class="lastgame <%= game.result === 1 ? "win" : "lose" %>">
                        <% 
                            const date = new Date(game.finishedDate);

                            const formatted = date.toLocaleString('pl-PL', {
                                day: 'numeric',
                                month: 'short',
                                year: 'numeric',
                                hour: '2-digit',
                                minute: '2-digit',
                                second: '2-digit'
                            }).replace(',', ' -');
                        %>
                        <span class="lastgame-finished"><%= formatted %></span>
                        <span class="lastgame-questions"><%= game.correctQuestions %> z <%= quizInfo.questionsCount %> pytań</span>
                        <% if(game.durationSeconds < 60){ %>
                            <span class="lastgame-time"><%= game.durationSeconds %>s</span>
                        <% }else if(game.durationSeconds < 600){ %>
                            <% if(game.durationSeconds % 60 === 0){ %>
                                <span class="lastgame-time"><%= game.durationSeconds / 60 %>min</span>
                            <% }else{ %>
                                <span class="lastgame-time"><%= Math.floor(game.durationSeconds / 60) %>min <%= game.durationSeconds - (60 * Math.floor(game.durationSeconds / 60)) %>s</span>
                            <% } %>
                        <% }else{ %>
                            <span class="lastgame-time">&gt;10min</span>
                        <% } %>
                    </div>
                <% } %>
            </section>
        <% }else if(userInfo.isLecturer === 0 ){ %>
            <h2 class="center-h2 lastgames">Twoje ostatnie 20 gier</h2>
            <section class="lastgames-list">
                <div class="nothing-here">Pusto... Zagraj teraz!.</div>
            </section>
        <% } %>
    </main>

    <footer></footer>
</body>
</html>